<div>
  <a style="min-width: 120px" class="btn btn-primary" routerLink="/">Trang chủ</a>
</div>
<div>
  <h2 style="text-align: center">Thêm mới sách</h2>
  <form class="form-control" ngModel (ngSubmit)="createBook()">
    <div>
      <label>Tên sách : </label>
      <input class="form-control" placeholder="Nhập tên sách" type="text" [(ngModel)]="book.title" name="title" />
    </div>
    <div>
      <label>Tác giả : </label>
      <input class="form-control" placeholder="Nhập tên tác giả" type="text" [(ngModel)]="book.author" name="author" />
    </div>
    <div>
      <label>Mô tả</label>
      <input class="form-control" placeholder="Nhập mô tả" type="text" [(ngModel)]="book.description" name="description" />
    </div>
    <div style="text-align: center; margin: 30px 0 0 0">
      <button style="margin-right: 30px; min-width: 120px" class="btn btn-secondary">Quay lại</button>
      <button style="min-width: 120px" class="btn btn-primary">Thêm mới</button>
    </div>
  </form>
</div>
